<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfbest.order.management.dao.gshop.read.GshopReturnsActiveGiftMapper">
  <resultMap id="BaseResultMap" type="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_active_id" jdbcType="INTEGER" property="orderActiveId" />
    <result column="order_product_id" jdbcType="INTEGER" property="orderProductId" />
    <result column="order_product_num" jdbcType="INTEGER" property="orderProductNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_active_id, order_product_id, order_product_num
  </sql>
  <select id="selectByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gshop_returns_active_gift
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gshop_returns_active_gift
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample">
    delete from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    insert into gshop_returns_active_gift (id, order_active_id, order_product_id, 
      order_product_num)
    values (#{id,jdbcType=INTEGER}, #{orderActiveId,jdbcType=INTEGER}, #{orderProductId,jdbcType=INTEGER}, 
      #{orderProductNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    insert into gshop_returns_active_gift
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderActiveId != null">
        order_active_id,
      </if>
      <if test="orderProductId != null">
        order_product_id,
      </if>
      <if test="orderProductNum != null">
        order_product_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderActiveId != null">
        #{orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="orderProductId != null">
        #{orderProductId,jdbcType=INTEGER},
      </if>
      <if test="orderProductNum != null">
        #{orderProductNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample" resultType="java.lang.Integer">
    select count(*) from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gshop_returns_active_gift
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderActiveId != null">
        order_active_id = #{record.orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="record.orderProductId != null">
        order_product_id = #{record.orderProductId,jdbcType=INTEGER},
      </if>
      <if test="record.orderProductNum != null">
        order_product_num = #{record.orderProductNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gshop_returns_active_gift
    set id = #{record.id,jdbcType=INTEGER},
      order_active_id = #{record.orderActiveId,jdbcType=INTEGER},
      order_product_id = #{record.orderProductId,jdbcType=INTEGER},
      order_product_num = #{record.orderProductNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    update gshop_returns_active_gift
    <set>
      <if test="orderActiveId != null">
        order_active_id = #{orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="orderProductId != null">
        order_product_id = #{orderProductId,jdbcType=INTEGER},
      </if>
      <if test="orderProductNum != null">
        order_product_num = #{orderProductNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    update gshop_returns_active_gift
    set order_active_id = #{orderActiveId,jdbcType=INTEGER},
      order_product_id = #{orderProductId,jdbcType=INTEGER},
      order_product_num = #{orderProductNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_active_id" jdbcType="INTEGER" property="orderActiveId" />
    <result column="order_product_id" jdbcType="INTEGER" property="orderProductId" />
    <result column="order_product_num" jdbcType="INTEGER" property="orderProductNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_active_id, order_product_id, order_product_num
  </sql>
  <select id="selectByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gshop_returns_active_gift
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gshop_returns_active_gift
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample">
    delete from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    insert into gshop_returns_active_gift (id, order_active_id, order_product_id, 
      order_product_num)
    values (#{id,jdbcType=INTEGER}, #{orderActiveId,jdbcType=INTEGER}, #{orderProductId,jdbcType=INTEGER}, 
      #{orderProductNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    insert into gshop_returns_active_gift
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderActiveId != null">
        order_active_id,
      </if>
      <if test="orderProductId != null">
        order_product_id,
      </if>
      <if test="orderProductNum != null">
        order_product_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderActiveId != null">
        #{orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="orderProductId != null">
        #{orderProductId,jdbcType=INTEGER},
      </if>
      <if test="orderProductNum != null">
        #{orderProductNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample" resultType="java.lang.Integer">
    select count(*) from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gshop_returns_active_gift
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderActiveId != null">
        order_active_id = #{record.orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="record.orderProductId != null">
        order_product_id = #{record.orderProductId,jdbcType=INTEGER},
      </if>
      <if test="record.orderProductNum != null">
        order_product_num = #{record.orderProductNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gshop_returns_active_gift
    set id = #{record.id,jdbcType=INTEGER},
      order_active_id = #{record.orderActiveId,jdbcType=INTEGER},
      order_product_id = #{record.orderProductId,jdbcType=INTEGER},
      order_product_num = #{record.orderProductNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    update gshop_returns_active_gift
    <set>
      <if test="orderActiveId != null">
        order_active_id = #{orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="orderProductId != null">
        order_product_id = #{orderProductId,jdbcType=INTEGER},
      </if>
      <if test="orderProductNum != null">
        order_product_num = #{orderProductNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    update gshop_returns_active_gift
    set order_active_id = #{orderActiveId,jdbcType=INTEGER},
      order_product_id = #{orderProductId,jdbcType=INTEGER},
      order_product_num = #{orderProductNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_active_id" jdbcType="INTEGER" property="orderActiveId" />
    <result column="order_product_id" jdbcType="INTEGER" property="orderProductId" />
    <result column="order_product_num" jdbcType="INTEGER" property="orderProductNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_active_id, order_product_id, order_product_num
  </sql>
  <select id="selectByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gshop_returns_active_gift
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gshop_returns_active_gift
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample">
    delete from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    insert into gshop_returns_active_gift (id, order_active_id, order_product_id, 
      order_product_num)
    values (#{id,jdbcType=INTEGER}, #{orderActiveId,jdbcType=INTEGER}, #{orderProductId,jdbcType=INTEGER}, 
      #{orderProductNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    insert into gshop_returns_active_gift
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderActiveId != null">
        order_active_id,
      </if>
      <if test="orderProductId != null">
        order_product_id,
      </if>
      <if test="orderProductNum != null">
        order_product_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderActiveId != null">
        #{orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="orderProductId != null">
        #{orderProductId,jdbcType=INTEGER},
      </if>
      <if test="orderProductNum != null">
        #{orderProductNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample" resultType="java.lang.Integer">
    select count(*) from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gshop_returns_active_gift
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderActiveId != null">
        order_active_id = #{record.orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="record.orderProductId != null">
        order_product_id = #{record.orderProductId,jdbcType=INTEGER},
      </if>
      <if test="record.orderProductNum != null">
        order_product_num = #{record.orderProductNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gshop_returns_active_gift
    set id = #{record.id,jdbcType=INTEGER},
      order_active_id = #{record.orderActiveId,jdbcType=INTEGER},
      order_product_id = #{record.orderProductId,jdbcType=INTEGER},
      order_product_num = #{record.orderProductNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    update gshop_returns_active_gift
    <set>
      <if test="orderActiveId != null">
        order_active_id = #{orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="orderProductId != null">
        order_product_id = #{orderProductId,jdbcType=INTEGER},
      </if>
      <if test="orderProductNum != null">
        order_product_num = #{orderProductNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    update gshop_returns_active_gift
    set order_active_id = #{orderActiveId,jdbcType=INTEGER},
      order_product_id = #{orderProductId,jdbcType=INTEGER},
      order_product_num = #{orderProductNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_active_id" jdbcType="INTEGER" property="orderActiveId" />
    <result column="order_product_id" jdbcType="INTEGER" property="orderProductId" />
    <result column="order_product_num" jdbcType="INTEGER" property="orderProductNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_active_id, order_product_id, order_product_num
  </sql>
  <select id="selectByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gshop_returns_active_gift
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gshop_returns_active_gift
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample">
    delete from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    insert into gshop_returns_active_gift (id, order_active_id, order_product_id, 
      order_product_num)
    values (#{id,jdbcType=INTEGER}, #{orderActiveId,jdbcType=INTEGER}, #{orderProductId,jdbcType=INTEGER}, 
      #{orderProductNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    insert into gshop_returns_active_gift
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderActiveId != null">
        order_active_id,
      </if>
      <if test="orderProductId != null">
        order_product_id,
      </if>
      <if test="orderProductNum != null">
        order_product_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderActiveId != null">
        #{orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="orderProductId != null">
        #{orderProductId,jdbcType=INTEGER},
      </if>
      <if test="orderProductNum != null">
        #{orderProductNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample" resultType="java.lang.Integer">
    select count(*) from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gshop_returns_active_gift
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderActiveId != null">
        order_active_id = #{record.orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="record.orderProductId != null">
        order_product_id = #{record.orderProductId,jdbcType=INTEGER},
      </if>
      <if test="record.orderProductNum != null">
        order_product_num = #{record.orderProductNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gshop_returns_active_gift
    set id = #{record.id,jdbcType=INTEGER},
      order_active_id = #{record.orderActiveId,jdbcType=INTEGER},
      order_product_id = #{record.orderProductId,jdbcType=INTEGER},
      order_product_num = #{record.orderProductNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    update gshop_returns_active_gift
    <set>
      <if test="orderActiveId != null">
        order_active_id = #{orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="orderProductId != null">
        order_product_id = #{orderProductId,jdbcType=INTEGER},
      </if>
      <if test="orderProductNum != null">
        order_product_num = #{orderProductNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    update gshop_returns_active_gift
    set order_active_id = #{orderActiveId,jdbcType=INTEGER},
      order_product_id = #{orderProductId,jdbcType=INTEGER},
      order_product_num = #{orderProductNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_active_id" jdbcType="INTEGER" property="orderActiveId" />
    <result column="order_product_id" jdbcType="INTEGER" property="orderProductId" />
    <result column="order_product_num" jdbcType="INTEGER" property="orderProductNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_active_id, order_product_id, order_product_num
  </sql>
  <select id="selectByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gshop_returns_active_gift
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gshop_returns_active_gift
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample">
    delete from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    insert into gshop_returns_active_gift (id, order_active_id, order_product_id, 
      order_product_num)
    values (#{id,jdbcType=INTEGER}, #{orderActiveId,jdbcType=INTEGER}, #{orderProductId,jdbcType=INTEGER}, 
      #{orderProductNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    insert into gshop_returns_active_gift
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderActiveId != null">
        order_active_id,
      </if>
      <if test="orderProductId != null">
        order_product_id,
      </if>
      <if test="orderProductNum != null">
        order_product_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderActiveId != null">
        #{orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="orderProductId != null">
        #{orderProductId,jdbcType=INTEGER},
      </if>
      <if test="orderProductNum != null">
        #{orderProductNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGiftExample" resultType="java.lang.Integer">
    select count(*) from gshop_returns_active_gift
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gshop_returns_active_gift
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderActiveId != null">
        order_active_id = #{record.orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="record.orderProductId != null">
        order_product_id = #{record.orderProductId,jdbcType=INTEGER},
      </if>
      <if test="record.orderProductNum != null">
        order_product_num = #{record.orderProductNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gshop_returns_active_gift
    set id = #{record.id,jdbcType=INTEGER},
      order_active_id = #{record.orderActiveId,jdbcType=INTEGER},
      order_product_id = #{record.orderProductId,jdbcType=INTEGER},
      order_product_num = #{record.orderProductNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    update gshop_returns_active_gift
    <set>
      <if test="orderActiveId != null">
        order_active_id = #{orderActiveId,jdbcType=INTEGER},
      </if>
      <if test="orderProductId != null">
        order_product_id = #{orderProductId,jdbcType=INTEGER},
      </if>
      <if test="orderProductNum != null">
        order_product_num = #{orderProductNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sfbest.order.management.vo.GshopReturnsActiveGift">
    update gshop_returns_active_gift
    set order_active_id = #{orderActiveId,jdbcType=INTEGER},
      order_product_id = #{orderProductId,jdbcType=INTEGER},
      order_product_num = #{orderProductNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>